@import "styles/breakpoints.scss";
@import "styles//fonts.scss";

@mixin desc_font_size($multiplier) {
  font-size: calc(40px * $multiplier);
}

@mixin hover_me {
  transform: scale(1.02);
  color: tomato;
}

.container {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;

  .restaurant_card_wrapper {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 100%;
    padding: 10px;
    max-width: 1920px;
    margin: auto;

    @include portrait {
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .images {
      overflow: hidden;
      width: 100%;
      position: relative;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      align-content: center;
      place-content: end space-between;
      border-radius: 15px;
    }
    .left_card {
      width: 100%;
      height: 100%;

      @include portrait {
        margin-bottom: auto;
        width: 100%;
        height: 100%;
      }

      .information {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        backdrop-filter: blur(2px);
        transform: translateY(50%);
        align-self: baseline;
        justify-self: center;
        @include md {
          width: 100%;
        }
        .map_parent {
          display: flex;
          justify-content: space-around;
          align-items: center;
          color: #8898a6;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            .icon {
              @include hover_me();
              transform: rotate(0.1turn);
            }
            span {
              @include hover_me();
              color: #e4e6eb;
            }
          }
          .icon {
            margin-right: 0.3em;
            font-size: 25px;
          }
        }
        .restaurant_label {
          @include desc_font_size(1.5);
          font-weight: 900;
          text-shadow: 1px 1px 1px black;
          color: whitesmoke;
          text-align: center;
          width: max-content;
        }
        .restaurant_description {
          color: #8898a6;
          @include desc_font_size(0.6);
        }
        .restaurant_openTime {
          color: rgb(214, 107, 88);
          @include desc_font_size(0.6);
          margin: auto;
          text-align: center;
        }
      }
    }
  }
}
