@import "styles/breakpoints.scss";

//Variables//
$ITEM_BORDERS: 30px;
$ITEMS_WIDTH: 30%;
$ITEMS_HEIGHT: 400px;
$BC_COLOR: #242424;

@mixin ITEMS_AFTER {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  border: 3px solid wheat;
  border-left-width: 0;
}
@mixin ITEMS_STYLE {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: max-content;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: tomato;
  font-family: "Archivo Black", sans-serif;
  backdrop-filter: blur(2px);
  padding: 4px 10px;
  text-shadow: 1px 1px 2px red, 0 0 2px blue, 0 0 0.2px blue;
  mask-image: linear-gradient(to right, red, black);
  &::after {
    @include ITEMS_AFTER;
  }
  @include xl {
    font-size: 30px;
  }
}
.items_card_container {
  position: relative;
  transition: all 0.2s ease-in;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 2px solid rgba(167, 164, 164, 0.146);
  border-radius: $ITEM_BORDERS;

  cursor: pointer;
  backdrop-filter: blur(5px);
  overflow: hidden;
  margin: auto;
  max-width: 400px;

  @include md {
    max-width: initial;
  }
  .image_con {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: auto;
    .image {
      object-fit: cover;
      margin: auto;
    }
  }
  .item {
    span {
      @include ITEMS_STYLE;
    }
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: rgba(108, 106, 106, 0.16) 0px 10px 36px 0px, rgba(139, 137, 137, 0.06) 0px 0px 0px 1px;

    border: 3px solid rgba(128, 128, 128, 0.146);
  }
}
