.container {
  width: 100%;

  label {
    display: none;
  }
  .input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    padding: 0 5px;
    width: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: 2px solid #f6f6f6;
    margin: auto;
    &:hover {
      border-color: tan;
    }
    .input {
      padding: 7px;
      font-size: 14px;
      color: white;
      border-width: 0;
      width: 100%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      background-color: transparent;
      transition: background-color 0.2s ease-in;

      &:focus {
        outline: none;
        &::placeholder {
          color: gray;
          font-size: 14px;
          caret-color: red;
        }
      }
      &::placeholder {
        font-size: 14px;
      }
    }
  }
}
