@import "/styles/breakpoints";

@mixin button_style {
  background-color: tomato;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition:
    transform 0.3s ease-in-out,
    background-color 3s ease-in-out color;
  &:hover {
    transform: scale(1.06);
  }
}

.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 1fr 30% 20%;
  grid-template-rows: auto;
  margin: 10px;
  align-items: center;
  color: wheat;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0 2%;
  @include md {
    width: 100%;
    margin: 10px 4px;
  }
  .description {
    label {
      min-width: 30%;
    }
  }
  .checkout_button {
    color: red;
  }
  .orders_label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .quantity_parent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(44, 44, 44, 0.76) 0px 3px 8px;
    padding: 5px 10px;
    .minus_button {
      @include button_style;
    }
    .plus_button {
      @include button_style;
    }
  }

  span {
    color: wheat;
    @include md {
      font-size: 10px;
    }
  }
}
.price_count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
