@import "styles/breakpoints.scss";

.main {
  display: flex;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
  padding: 10px;
  @include sm {
    flex-direction: column;
  }
  .photosContainer {
    position: relative;
    margin: auto;
    padding: 10px;
    .carouselContainer {
      position: relative;
      display: flex;
      justify-content: center;

      @include sm {
        flex-direction: column;
      }
      img {
        max-width: 50vw;
        max-height: 60vh;
        min-width: 40vw;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
    }
  }
  .productInfos {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #eef2f3,
      #8e9eab
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 2%;

    .header {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      .productTitle {
        font-size: 28px;
        margin: 0;
      }
      a {
        font-size: 20px;
        margin: 0;
        color: #376ed7;
      }
    }

    .priceText {
      font-size: 24px;
      color: grey;
      text-decoration: line-through;
      font-weight: 500;
    }
    .saleContainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .saleText {
        font-size: 30px;
        font-weight: bold;
        margin-right: 10px;
      }

      .savedText {
        color: green;
        font-weight: 500;
      }
    }

    .sizes {
      h4 {
        margin: 0;
        margin-bottom: 10px;
      }
      button {
        border: 2px solid #eee;
        border-radius: 4px;
        background-color: transparent;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
      }
    }

    .buttons {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;

      .favButton {
        border: 2px solid #eee;
        border-radius: 4px;
        background-color: transparent;
        margin: 0;
        margin-left: 20px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .infoContainer {
      h4 {
        margin: 0;
      }
      .infoText {
        min-height: 140px;
        padding: 10px;
      }
    }
    .seller_contact_button {
      border-radius: 6px;
      background-color: #376ed7;
      color: white;
    }
  }
}
