@import "/styles/breakpoints";
@import "/styles/fonts";

.container {
    background-color: #ff8707;
    color: #282828;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.1);
    span {
        opacity: 0.8;
    }
}
