@import "/styles/fonts";
@import "/styles/breakpoints";

.AdminOrdersInfo_container {
    width: 100%;
    color: #ffff;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-right: auto;
        @include md {
            width: 90%;
        }
        span {
            font-family: "Archivo Black", sans-serif;
        }
    }
}
