@import "styles/fonts.scss";
@import "styles/breakpoints.scss";
@mixin rapport_item {
    text-align: center;
    width: 30%;
    object-fit: cover;
    overflow: visible;
    background-color: #383838;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
    font-weight: 700;

    object-fit: contain;
    background-size: contain;
    color: #383838;
    letter-spacing: 0.3em;
    border: 3px double lightcoral;
    min-width: 250px;
    @include md {
        width: 70%;
        margin: auto;
    }
}
.dash_container {
    color: whitesmoke;
    min-height: 100vmin;

    h1 {
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "playfair", sans-serif;
        text-shadow: 1px 1px 1px rgb(13, 0, 0);
        margin-top: 3%;
        font-size: xx-large;
    }
    .rapport {
    }
    .calendar_parent {
        display: flex;
    }
    .rapport_container {
        margin: auto;
        width: 70%;
        color: black;
        padding: 3rem;
        .date_description {
            font-size: 10px;
        }
        .rapport_wraper {
            background-color: #ffff;
            border: 2px solid black;
            padding: 2rem;
            max-width: 1200px;

            margin: auto;
            h3 {
                margin: auto;
                text-align: center;
            }
            .dates {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & > * {
                    font-size: 10px;
                }
            }
            .rapport_row {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                margin: auto;
                border-bottom: 1px dashed rgba(155, 148, 148, 0.626);

                & * {
                    width: 30%;
                    margin: 1rem;
                    font-size: 10px;
                    font-family: "playfair";
                    font-weight: 700;
                    white-space: nowrap;
                }
                .sell_item {
                    display: flex;
                }
            }
        }
        .rapport_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-width: 100%;
        }
    }
    .info_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
            opacity: 0.5;
            font-family: "playfair", sans-serif;
            word-break: keep-all;
            font-size: 10px;
        }
    }
    .rapport_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5%;
        gap: 1em;
        flex-wrap: wrap;
        .rapport_item,
        .rapport_item1,
        .rapport_item2 {
            @include rapport_item;
        }
        .rapport_item {
            background-image: url("/calc.gif");
        }
        .rapport_item1 {
            cursor: pointer;
            background-image: url("/rapport.png");
        }
        .rapport_item2 {
            background-image: url("/calc.gif");
        }
    }
}
