@import "styles/fonts.scss";
@import "styles/breakpoints.scss";
.signs {
  background-color: tomato;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  &:hover {
    transform: scale(1.04);
  }
}
.container {
  width: 100%;

  .header {
    text-align: center;
    color: whitesmoke;
    margin: auto;
    margin: auto;
    font-family: "Archivo Black", sans-serif;
    align-items: center;
    padding: 0.1em 1em;

    border: 4px solid #333;
    font-size: 34px;
    width: fit-content;
  }
  .items_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    flex-wrap: wrap;
    @include sm {
      flex-direction: column;
    }
  }
  .checkOutBar_perent {
    .orders_label {
      color: red;
    }
  }
}
