@import "styles/fonts.scss";
@import "styles/breakpoints.scss";
@mixin rapport_item {
    text-align: center;
    width: 30%;
    height: 300px;
    overflow: visible;
    background-color: #383838;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
    font-weight: 700;

    object-fit: contain;
    background-size: contain;
    color: #383838;
    letter-spacing: 0.3em;
    border: 3px double lightcoral;
    min-width: 350px;
    @include md {
        width: 90%;
    }
}
.dash_container {
    color: whitesmoke;
    min-height: 100vmin;
    font-family: "playfair";

    .calendar_parent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
            opacity: 0.5;
            font-family: "playfair", sans-serif;
        }
    }
    .rapport_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5%;
        gap: 1em;
        flex-wrap: wrap;
        .rapport_item,
        .rapport_item1,
        .rapport_item2 {
            @include rapport_item;
        }
        .rapport_item {
            background-image: url("/calc.gif");
        }
        .rapport_item1 {
            cursor: pointer;
            background-image: url("/rapport.png");
        }
        .rapport_item2 {
            background-image: url("/calc.gif");
        }
    }
}
