.bill_info_container {
    width: 100%;

    .price_parent {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        & > * {
            margin: 1em;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

            letter-spacing: 0.1em;
        }
    }
}
