@import "/styles/breakpoints";

.bill_info_container {
    width: 100%;

    .price_parent {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }
}
