.modalContainer{
    .selected_value{
        margin: auto;
        color: lightcoral;
        background-color: lightcoral;
        
  
    }
    .modal_toggel{
        background-color: rgba(89, 109, 114, 0.301);
        backdrop-filter: blur(12px);
        filter: blur(17px);
    }
  
    .modal_button{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
       
       
               }
    .modal{
       width: 400px;
       height: 80vh;
      background-color: khaki;
      margin: auto;

      
  
    }
    .modal_body{
        background-color: lightcoral;
    }
}
.selected_value{
    color: wheat;
    margin-top: 20%;
}