@import "/styles/fonts";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 0.2rem;
    padding: 1rem;
    border-radius: 3px;
    span {
        color: #ffff;
        font-size: 10px;
        font-family: "playfair", sans-serif;
    }
}
