@import "/styles/fonts";
@import "/styles/breakpoints";

$section-margin-top: 5%;
$box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

.info_parent {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    & > * {
        margin-right: auto;
        opacity: 0.7;
        letter-spacing: 0.1em;
    }
    .parent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: whitesmoke;
    }
    .info_section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > * {
            @include md {
                font-size: 15px;
            }
        }
    }
    .edit_icon {
        color: tomato;
        font-size: 22px;
    }
}
