@import "/styles/breakpoints"; /* CSS */
.button_container {
    display: flex;
    justify-content: center;
    align-items: center;

    .button-74 {
        background-color: #407088;
        width: 100%;
        border-radius: 30px;
        border-width: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 0.7rem;
        padding: 0 10px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        color: whitesmoke;
    }

    .button-74:hover {
        background-color: #6884a6;
    }

    .button-74:active {
        box-shadow: #3d3d3d 4px 4px 4px 2px;
        transform: translate(2px, 2px);
    }
}
@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}
@media (max-width: 768px) {
    .button-74 {
        padding: 0 25px;
    }
}
