@import "/styles/fonts";

.header {
    margin: auto;
    font-size: 1.3rem;
    font-weight: 900;
    color: whitesmoke;
    margin: auto;
    text-align: center;
}
.underline {
    border-bottom: 2px solid black;
    width: inherit;
}

@media (orientation: portrait) {
    .header {
        font-size: 4vw;
    }
}
