@import "styles/fonts.scss";

.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(219, 57, 57);
    color: #ffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    font-size: 10px;
    font-family: "playfait", sans-serif;
}
